
<div class="container mt-4">
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="failureMessage" class="alert alert-danger">{{ failureMessage }}</div>
    <div class="d-flex justify-content-between align-items-center">

        <h2 class="mb-3">Dashboard</h2>

        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#transactionsModal">
            Transactions
        </button>

        <app-transaction-modal></app-transaction-modal>

        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#paymentRequestModal">
            View Payment Requests
        </button>

        <app-viewrequests-modal></app-viewrequests-modal>

        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#sendModal">
            Send
        </button>

        <app-send-modal (succcessMessage)="handleSuccess($event)" 
                         (failureMessage)="handleError($event)">
        </app-send-modal>

        <button #closeModal class="btn btn-primary mb-3" data-toggle="modal" data-target="#createAccountModal">
            Create Account
        </button>

        <button class="btn btn-danger mb-3" (click)="logout()">Logout</button>
    
        <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Create New Account</h5>
                        <button @closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="accountType">Account Type</label>
                                <select class="form-control" id="accountType" [(ngModel)]="newAccount.type" name="type" required>
                                    <option value="USER">USER</option>
                                    <option value="BUSINESS">BUSINESS</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="scrollable-container">
                <div class="card-deck" *ngIf="accounts">
                    <div class="card mb-4" *ngFor="let account of accounts">
                        <div class="card-body">
                            <h5 class="card-title">Account Number: {{ account.card?.cardNumber || 'No Card' }}</h5>
                            <p class="card-text"><small class="text-muted">Card ID: {{ account.id }}</small></p>
                            <p class="card-text">Balance: {{ account.balance | currency:'USD':'symbol':'1.2-2' }}</p>
                            <p *ngIf="account.card?.type" class="card-text">Card Type: {{ account.card?.type }}</p>
                            <p *ngIf="!account.card?.type" class="card-text">Card Type: No Card</p>
                            <p class="card-text"><small class="text-muted">Account Type: {{ account.type }}</small></p>
                            <button class="btn btn-secondary m-2" data-toggle="modal" data-target="#cardModal" (click)="select(account.id)">
                                Add Card
                            </button>
                            <app-card-modal [accountId]="selectedAccountId"
                                            (succcessMessage)="handleSuccess($event)" 
                                            (failureMessage)="handleError($event)"> 
                            </app-card-modal>
                            <button class="btn btn-secondary m-2" data-toggle="modal" data-target="#depositModal" (click)="select(account.id)" >
                                Deposit
                            </button>
                            <app-deposit-modal [accountId]="selectedAccountId"
                                                (succcessMessage)="handleSuccess($event)" 
                                                (failureMessage)="handleError($event)">
                        </app-deposit-modal>
                            <button class="btn btn-secondary m-2" data-toggle="modal" data-target="#withdrawModal" (click)="select(account.id)">
                                Withdraw
                            </button>
                            <app-withdraw-modal [accountId]="selectedAccountId" 
                                                (succcessMessage)="handleSuccess($event)" 
                                                (failureMessage)="handleError($event)">
                        </app-withdraw-modal>
                            <button class="btn btn-secondary m-2" data-toggle="modal" data-target="#paymentRequestSubmitModal" (click)="select(account.id)">
                                Request
                            </button>
                            <app-request-modal [accountId]="selectedAccountId" 
                                                (succcessMessage)="handleSuccess($event)" 
                                                (failureMessage)="handleError($event)">
                            </app-request-modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>