<div class="modal" tabindex="-1" role="dialog" id="depositModal">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deposit Funds</h5>
          <button #closeModal type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit) = "onSubmit()">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" id="amount" [(ngModel)]="amount" name="amount" required min="0.01" 
              (keydown)="preventNegative($event)"
              #amountInput="ngModel">
              <div *ngIf="amountInput.errors && (amountInput.dirty || amountInput.touched)" class="alert alert-danger">
                <div [hidden]="!amountInput.errors['required']">
                  Amount is required.
              </div>
                <div [hidden]="!amountInput.errors['min']">
                  Amount must be a positive number.
              </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
